.CodeMirror-line-numbers {
  width: 2.2em;
  color: #aaa;
  background-color: #eee;
  text-align: right;
  padding: .4em;
  margin: 0;
  font-family: "Consolas","Lucida Console","Monaco",monospace;
  font-size: 9pt;
  line-height: 1.1em;
}

#edoutput {
    background: #ccc;
    color: #black;
    height: 100px;
    overflow: auto;
    font-family: "Consolas","Lucida Console","Monaco",monospace;
    font-size: 9pt;
}
